:root {
  --dark-mode: hsl(209, 23%, 22%);
  --very-dark-blue-background: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 14px;
  font-family: "Nunito Sans";
  margin: 0;
}

.dark-mode {
  background-color: var(--dark-mode);
  color: var(--white);
}

.dark-mode .heading {
  background-color: var(--dark-mode);
}

.dark-mode .search-region {
  background-color: var(--very-dark-blue-background);
}

.dark-mode .countries-container {
  background-color: var(--very-dark-blue-background);
}

.dark-mode .search-input .search {
  background-color: var(--dark-mode);
  color: var(--white);
}

.dark-mode .switcher-icon .moon-dark-mode {
  display: flex;
}

.dark-mode .switcher-icon .moon-light-mode {
  display: none;
}

.dark-mode .region-wrap select {
  background-color: var(--dark-mode);
  color: var(--white);
}

.dark-mode .country-template {
  background-color: var(--dark-mode);
}

.dark-mode .box {
  background-color: var(--dark-mode);
}

.dark-mode .box a {
  color: var(--white);
}

.dark-mode .main-container {
  background-color: var(--very-dark-blue-background);
}
.main-container {
  padding: 30px;
  overflow: hidden;
  height: 100vh;
}
.box-shadow-effect {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 33px;
}

.title h2 {
  font-size: 16px;
}

.switcher {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switcher-icon .moon-dark-mode {
  display: none;
}

.switcher .switcher-text {
  font-weight: 500;
  cursor: pointer;
}

.search-region {
  display: flex;
  flex-direction: column;
  padding: 33px;
  gap: 40px;
}

.search-wrap {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  user-select: none;
  padding-left: 20px;
}

.search-input .search {
  padding: 20px 60px;
  border: none;
  border-radius: 5px;
  width: calc(100% - 120px);
  color: var(--very-dark-blue-text);
}

.search-input .search:focus-visible {
  outline: none;
}

.region-wrap select {
  padding: 20px 33px;
  border-radius: 5px;
  border: none;
  width: 200px;
  background-color: var(--white);
}

.region-wrap select:focus-visible {
  outline: none;
}

.countries-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 33px;
  padding: 33px;
  background-color: var(--white);
}

.country-info {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box {
  padding: 5px 15px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 3px;
  margin: 40px 0px;
  margin-top: 0;
}

.box p {
  padding: 0;
  margin: 0;
}

.box a {
  color: black;
  text-decoration: none;
}

.box a i {
  padding-right: 5px;
}

.no-margin {
  margin: 0;
}

.borders-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country-wrap {
  display: flex;
  flex-direction: column;
}

.country-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-template {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.country-flag {
  font-size: 200px;
  margin: 0;
  text-align: center;
  height: 200px;
}

.country-image img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.country-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.country-border-row {
  flex-direction: column;
  align-items: flex-start;
}

.country-row p {
  font-weight: 600;
  margin: 0;
}

.country-heading h4 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .country-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .country-info .country-border-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  .borders-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}

@media (min-width: 992px) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }

  .search-region {
    flex-direction: row;
    justify-content: space-between;
  }

  .country-image .country-flag {
    font-size: 130px;
    height: 160px;
  }
}

@media (min-width: 1192px) {
  .countries-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
